<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="180"></sessionState>
    <compilation debug="true" targetFramework="4.7.2">
    
    </compilation>
   
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
  
  </system.web>
  
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Data Source=SQL5107.site4now.net;Initial Catalog=db_a84271_pixelatelydb;User Id=db_a84271_pixelatelydb_admin;Password=Ambanis911!" name="ConnectionString" />
    
  </connectionStrings>
  <system.webServer>
   
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>